{%- assign social = site.minima.social_links -%}

<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="social-media-list">
        {%- if social.github -%}
        <li><a rel="me" href="https://github.com/{{ social.github | cgi_escape | escape }}" title="{{ social.github | escape }}"><img class="svg-icon grey" src="/assets/images/github.svg"/></a></li>
        {%- endif -%}
        {%- if social.twitter -%}
        <li><a rel="me" href="https://twitter.com/{{ social.twitter | cgi_escape | escape }}" title="{{ social.twitter | escape }}"><img class="svg-icon grey" src="/assets/images/twitter.svg"/></a></li>
        {%- endif -%}
        {% if site.author.email -%}
        <li><a class="u-email" href="mailto:{{ site.author.email }}"><img class="svg-icon grey" src="/assets/images/mail.svg"/></a></li>
        {%- endif %}
        </ul>
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>


  </div>

</footer>
